<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mulps\ShipStationLiveRates\Model\Client\ShipStationClient">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\CacheInterface</argument>
        </arguments>
    </type>
</config>
